<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ПОЛИМЕР АБРАЗИВ</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <style>
        /* Ваши общие стили */
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const sections = document.querySelectorAll(".section");
            const navLinks = document.querySelectorAll("nav ul li a");
            const hamburger = document.getElementById('hamburger');
            const navItems = document.getElementById('nav-items');

            hamburger.addEventListener('click', () => {
                navItems.classList.toggle('active');
            });

            navLinks.forEach(link => {
                link.addEventListener("click", function(e) {
                    e.preventDefault();

                    const targetId = this.getAttribute("href").substring(1);
                    const targetSection = document.getElementById(targetId);
                    const sectionTop = targetSection.offsetTop - 60; // Offset for fixed header

                    window.scroll({
                        top: sectionTop,
                        behavior: "smooth"
                    });
                });
            });

            window.addEventListener("scroll", () => {
                let current = "";
                sections.forEach(section => {
                    const sectionTop = section.offsetTop;
                    const sectionHeight = section.clientHeight;
                    if (pageYOffset >= sectionTop - sectionHeight / 3) {
                        current = section.getAttribute("id");
                    }
                });

                navLinks.forEach(link => {
                    link.classList.remove("active");
                    if (link.getAttribute("href").slice(1) === current) {
                        link.classList.add("active");
                    }
                });
            });
            const swiper = new Swiper('.sample-slider', {
                loop: true,
                autoplay: {         //added
                    delay: 1000,    //added
                },                  //added
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
                pagination: {
                    el: '.swiper-pagination',
                },
            })
        });
    </script>
    <script>
        document.getElementById('orderForm').addEventListener('submit', async function(event) {
            event.preventDefault(); // предотвращает стандартное поведение формы

            const formData = new FormData(this);

            try {
                const response = await fetch('/order', {
                    method: 'POST',
                    body: formData
                });

                if (!response.ok) {
                    throw new Error('Network response was not ok.');
                }

                const message = await response.text();
                alert(message);
            } catch (error) {
                console.error('Error:', error);
                alert('Произошла ошибка при отправке формы.');
            }
        });
    </script>
</head>
<body>
<header>
    <div class="container">
        <div class="header-content">
            <nav>
                <button class="hamburger" id="hamburger">
                    Меню
                    &#9776;
                </button>
                <ul id="nav-items">
                    <li><a href="#about">О нас</a></li>
                    <li><a href="#products">Продукция</a></li>
                    <li><a href="#contact">Контакты</a></li>
                    <li><a href="#order">Заказ</a></li>
                </ul>
            </nav>
        </div>
        <h1>ПОЛИМЕР АБРАЗИВ</h1>
        <h2>Разработка технологии производства полировальных инструментов на органической связке наполненных
            сверхтвердым материалом (СТМ)</h2>
    </div>
</header>

<section id="about" class="section">
    <div class="container">
        <h2>О нас</h2>
        <div class="about-cards">
            <div class="card">
                <div class="card-icon">
                    <img src="/static/images/tasks.png" alt="Icon 1">
                </div>
                <div class="card-content">
                    <h3>Цели и задачи</h3>
                    <p>Производство и продажа абразивных инструментов для ультразвуковой полировки пресс форм, различных
                        металлических оснасток и т.д.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-icon">
                    <img src="/static/images/company.svg" alt="Icon 2">
                </div>
                <div class="card-content">
                    <h3>О компании</h3>
                    <p>Название: ПОЛИМЕР АБРАЗИВ <br>
                        Вид деятельности: Научные исследования и разработки в области естественных и технических наук
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-icon">
                    <img src="/static/images/aud.png" alt="Icon 3">
                </div>
                <div class="card-content">
                    <h3>Целевая аудитория</h3>
                    <p>Крупные и малые металлобрабытвающие предприятия, предприятия специализурющиеся на переработке
                        пластмасс.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="products" class="section">
    <dic class="container">
        <h2>Продукция</h2>
        <h3>Разработка технологии для производства полировальных инструментов под ваши требования</h3>
        <h2>Инструменты на хвостовике</h2>
        <div class="swiper sample-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="/static/images/products/product_1.jpg"></div>
                <div class="swiper-slide"><img src="/static/images/products/product_2.jpg"></div>
                <div class="swiper-slide"><img src="/static/images/products/product_3.jpg"></div>
                <div class="swiper-slide"><img src="/static/images/products/product_4.jpg"></div>
                <div class="swiper-slide"><img src="/static/images/products/product_5.jpg"></div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <h2>Пластины для ультразвуковой полировки</h2>
        <div class="swiper sample-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="/static/images/products/product_1.jpg"></div>
                <div class="swiper-slide"><img src="/static/images/products/product_2.jpg"></div>
                <div class="swiper-slide"><img src="/static/images/products/product_3.jpg"></div>
                <div class="swiper-slide"><img src="/static/images/products/product_4.jpg"></div>
                <div class="swiper-slide"><img src="/static/images/products/product_5.jpg"></div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </dic>
</section>


<section id="contact" class="section">
    <div class="container">
        <h2>Контакты</h2>
        <p>Для связи с нами используйте следующую информацию:</p>
        <ul>
            <li>Email: info@polymerabrasive.com</li>
            <li>Телефон: +7 927 024 2455</li>
        </ul>
    </div>
</section>

<section id="order" class="section">
    <div class="container">
        <h2>Заказ</h2>
        <form action="/order" id="orderForm" method="post">
            <label for="name">Имя:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="phone">Телефон:</label>
            <input type="tel" id="phone" name="phone" required>


            <label for="details">Детали заказа:</label>
            <textarea id="details" name="details" rows="4" required></textarea>

            <button type="submit">Отправить заказ</button>
        </form>
    </div>
</section>
<div id="rec565401956" class="r t-rec t-rec_pt_90 t-rec_pb_75 r_anim r_showed"
     style="padding-top:90px;padding-bottom:75px;" data-record-type="223">
    <div class="t195">
        <div class="t-container">
            <div class="t-content">
                <div class="t195__text t-text t-text_md" field="text">
                    <p>Продукт разработан при поддержке Фонда содействия инновациям в рамках федерального проекта</p>
                    <p>«Платформа университетского технологического предпринимательства»</p>
                </div>
                <div class="t195__imgsection" itemscope itemtype="http://schema.org/ImageObject">
                    <meta itemprop="image"
                          content="https://static.tildacdn.com/tild3966-6130-4839-a563-633364323061/FASIE_RU_rgb_-_svg.png">
                    <img class="t195__img t-img"
                         src="https://optim.tildacdn.com/tild3966-6130-4839-a563-633364323061/-/resize/600x/-/format/webp/FASIE_RU_rgb_-_svg.png"
                         data-original="https://static.tildacdn.com/tild3966-6130-4839-a563-633364323061/FASIE_RU_rgb_-_svg.png"
                         imgfield="img" data-tu-max-width="1200" data-tu-max-height="1200" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <p>&copy; 2024 ПОЛИМЕР АБРАЗИВ. Все права защищены.</p>
</footer>
</body>
</html>
